@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
audio,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
audio,
img,
iframe,
video {
  display: inline-block;
  height: auto;
  width: 100%;
}
/*Status*/
.status_success {
  background-color: #2ecc71;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.status_danger {
  background-color: #e74c3c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/*Dropdown*/
.bt_dropdown {
  background-color: transparent;
  border: none;
  color: #3058a4;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown-menu li a {
  margin: 0;
  padding: 10px 0;
}
.dropdown-menu li a:hover {
  color: orange;
}
.bt_dropdown span {
  display: inline-block;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .bt_dropdown {
    margin: 10px 0 10px 10px;
  }
  .dropdown-menu {
    position: relative;
    left: 20px;
    width: 300px;
  }
}
/*Form dominio*/
.form-dominio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-dominio input {
  border: #3058a4 1px solid;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
.form-dominio button {
  background-color: #3058a4;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}
/*Lista de sites*/
.list_sites {
  margin-top: 20px;
}
.list_sites li {
  background-color: #71bce1;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.126);
  color: #fff;
  padding: 10px;
  width: 380px;
}
.list_sites li h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.list_sites li p {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
